.details {
  text-indent: 20px;
  height: 11rem;
}
.details .title {
  min-width: 100px;
  display: inline-block;
  margin: 0.2rem;
}
.details .image {
  text-align: center;
}
.footer {
  margin: 2rem;
}